{% extends 'base.html' %}
<br>
{% block title %}Member Login{% endblock %}
{% block headerinfo %}
    <link href="{{ url_for('static', filename='css/member.css') }}" rel="stylesheet">
{% endblock %}
{% block BodyContent %}
    <h1>Member Login</h1>
    <form method="post">
        <div>
            <label for="username">Username </label><input type="text" id="username" name="username">
        </div>
        <div>
            <label for="pass">Password </label><input type="password" id="pass" name="pass">
        </div>
        <input type="submit" class="submitButton">
    </form>
{% endblock %}