{% extends 'base.html' %}
{% block title %}Workout History{% endblock %}

{% block headerinfo %}
    <link href="{{ url_for('static', filename='css/homework.css') }}" rel="stylesheet">
{% endblock %}
{% block BodyContent %}
    <br><br><br><br><br>

    </div>
    <br><br><br>
    <div id="workouts_container">
        {% for workout in data %}
            <!-- <br class = "br{{ workout[0] }}{{ workout [1] }}"> -->
            <div class="workout">
                <h2 class = "muscle-group-div">{{ workout[0] }}</h2>
                <h3 class = "muscle-group-div">{{ workout[1] }}</h3>
                <div align="left">
                    {% for item in workout[2:] %}
                        <label  class = "left-div" >{{ item }}</label><br>
                    {% endfor %}
                    <br>
                </div>
                <button align="left" date = "{{ workout[0] }}" muscle = "{{ workout[1] }}" class = "delete">Delete</button>
            </div>
            <!-- <br class = "br{{ workout[0] }}{{ workout [1] }}"> -->
   
        {% endfor %}
    </div>
    <script>
        function resize_iframe() {
            var iframe_width = $('iframe').width();
            $('iframe').css('height', (iframe_width * 0.75) + 'px');
        }
        resize_iframe();
        $(window).on('resize', function () {
            resize_iframe();
        });
        $(document).on('click tap', '.delete', function (e) {
            $('#LoadingContainer').css('display', 'flex');
            var $this = $(this)
            var parent_div = $(this).parent()
            var date = $this.attr('date');
            var muscle = $this.attr('muscle');
           
            var data_to_send = $.param({
                date: date,
                muscle: muscle
            })
            $.ajax({
                url: '/workout-history',
                method: 'POST',
                data: data_to_send,
                success: function (response) {         
                    parent_div.remove()
                
                    $('#LoadingContainer').css('display', 'none');
                },
                failure: function (response) {
                    $('#LoadingContainer').css('display', 'none');
                }
            })
        })
    </script>
{% endblock %}