{% extends 'base.html' %}
{% block title %}Workout History{% endblock %}

{% block headerinfo %}
    <link href="{{ url_for('static', filename='css/homework.css') }}" rel="stylesheet">
{% endblock %}
{% block BodyContent %}
    <br><br><br><br><br>

    </div>
    <br><br><br>
    <div id="workouts_container" align="left">
        {% for workout in data %}
        <br>
            <div class="workout">
                <h1>{{ workout[0] }}</h1>
                <h3>{{ workout[1] }}</h3>
                <div align="left">
                    {% for item in workout[2:] %}
                        <label  class = "left-div" >{{ item }}</label><br>
                    {% endfor %}
                    <br>
                </div>
            </div>
            <br>
   
        {% endfor %}
    </div>
    <script>
        function resize_iframe() {
            var iframe_width = $('iframe').width();
            $('iframe').css('height', (iframe_width * 0.75) + 'px');
        }
        resize_iframe();
        $(window).on('resize', function () {
            resize_iframe();
        });
        $(document).on('click tap', '.submitButtonAjax', function (e) {
            $('#LoadingContainer').css('display', 'flex');

            var button = $(this);
            var attendance_div = button.parent();

            var show_att_div = attendance_div.siblings('.show_att_div');
            var completion = attendance_div.find('input[name="comp"]').val();
            if (parseInt(completion) < 100){
                e.preventDefault();
            }
            else{
                attendance_div.parent().parent().empty()
                
            }
            if (completion === undefined) {
                $('#LoadingContainer').css('display', 'none');
                return
            }
            var updates = attendance_div.find('input[name="update"]').val();
            if (updates === undefined) {
                $('#LoadingContainer').css('display', 'none');
                return
            }

            var assignment = attendance_div.attr('assignment');
            var date = attendance_div.attr('due_date');
            var data_to_send = $.param({
                formType: 'register',
                due_date: date,
                assignment: assignment,
                completion: completion,
                update: updates
            })
            $.ajax({
                url: '/homework',
                method: 'POST',
                data: data_to_send,
                success: function (response) {
                    show_att_div.empty();
                    for (var i in response['updates'][assignment]) {

                        show_att_div.append(`<label>${response['updates'][assignment][i]}</label><br>`)
                    }
                    $('#LoadingContainer').css('display', 'none');
                },
                failure: function (response) {
                    $('#LoadingContainer').css('display', 'none');
                }
            })
        })
    </script>
{% endblock %}